.audio-player_cont {
  width: 100%; }

.audio__container {
  width: 100%; }

.audio__play-btn {
  width: 30px;
  height: 30px;
  display: block;
  position: relative; }

.audio-glyphicon {
  width: 30px;
  height: 30px;
  display: block;
  position: relative; }

.glyphicon--play {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/player_audio/play-button.svg") center center no-repeat;
  background-size: contain; }

.glyphicon--pause {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/player_audio/pause-sign.svg") center center no-repeat;
  background-size: contain; }

.audio__next-btn {
  width: 20px;
  height: 20px;
  background: url("../img/player_audio/fast-forward-button.svg") center center no-repeat;
  background-size: contain; }

.audio__prev-btn {
  width: 20px;
  height: 20px;
  background: url("../img/player_audio/fast-forward-button.svg") center center no-repeat;
  background-size: contain;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.audio-timeline__cont {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  height: 100px; }

.audio-timeline {
  width: 100%;
  position: relative;
  top: 50%; }

.audio__timeline-control {
  width: 100%;
  position: relative;
  display: block;
  height: 10px;
  background: rgba(255, 0, 0, 0.21); }

.ui-slider-handle {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  background: pink;
  outline: none;
  width: 0px;
  z-index: 0; }
  .ui-slider-handle:before {
    content: '';
    position: absolute;
    width: 1000px;
    height: 10px;
    background: #8b6236;
    display: inline-block;
    left: -1000px;
    top: 0;
    z-index: -1; }
  .ui-slider-handle:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: green;
    display: inline-block;
    left: 0px;
    top: -5px; }

.ui-slider-range {
  background: rgba(0, 0, 255, 0.2);
  position: absolute;
  border: 0;
  top: 0;
  height: 100%;
  z-index: 2; }

.audio-track__btn-cont {
  width: 20px;
  height: 20px;
  display: block;
  position: relative; }
  .audio-track__btn-cont .audio-track__btn--play {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/player_audio/play-button.svg") center center no-repeat;
    background-size: contain; }
  .audio-track__btn-cont .audio-track__btn--pause {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/player_audio/pause-sign.svg") center center no-repeat;
    background-size: contain; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInRwbC9fbWFpbi1wbGF5ZXIuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLFlBQVksRUFDYjs7QUFFRDtFQUNFLFlBQVksRUFDYjs7QUFFRDtFQUNFLFlBQVk7RUFDWixhQUFhO0VBQ2IsZUFBZTtFQUNmLG1CQUFtQixFQUNwQjs7QUFJRDtFQUNFLFlBQVk7RUFDWixhQUFhO0VBQ2IsZUFBZTtFQUNmLG1CQUFtQixFQUFFOztBQUN2QjtFQUNFLG1CQUFtQjtFQUNuQixZQUFZO0VBQ1osYUFBYTtFQUNiLE9BQU87RUFDUCxRQUFRO0VBQ1IsK0VBQThFO0VBQzlFLHlCQUF5QixFQUMxQjs7QUFDRDtFQUNFLG1CQUFtQjtFQUNuQixZQUFZO0VBQ1osYUFBYTtFQUNiLE9BQU87RUFDUCxRQUFRO0VBQ1IsOEVBQTZFO0VBQzdFLHlCQUF5QixFQUMxQjs7QUFHRDtFQUNFLFlBQVk7RUFDWixhQUFhO0VBQ2IsdUZBQXNGO0VBQ3RGLHlCQUF5QixFQUMxQjs7QUFFRDtFQUNFLFlBQVk7RUFDWixhQUFhO0VBQ2IsdUZBQXNGO0VBQ3RGLHlCQUF5QjtFQUN6QixrQ0FBaUI7TUFBakIsOEJBQWlCO1VBQWpCLDBCQUFpQixFQUNsQjs7QUFFRDtFQUNFLFlBQVk7RUFDWixpQkFBaUI7RUFDakIsaUJBQWlCO0VBQ2pCLG1CQUFtQjtFQUNuQixjQUFjLEVBQ2Y7O0FBRUQ7RUFDRSxZQUFZO0VBQ1osbUJBQW1CO0VBQ25CLFNBQVMsRUFDVjs7QUF5Q0Q7RUFDRSxZQUFZO0VBQ1osbUJBQW1CO0VBQ25CLGVBQWU7RUFDZixhQUFhO0VBQ2Isa0NBQWdCLEVBQ2pCOztBQUVEO0VBQ0UsbUJBQW1CO0VBQ25CLFdBQVc7RUFHWCxnQkFBZ0I7RUFDaEIsaUJBQWlCO0VBQ2pCLGNBQWM7RUFDZCxXQUFXO0VBQ1gsV0FBVyxFQXdCWjtFQWpDRDtJQVlJLFlBQVk7SUFDWixtQkFBbUI7SUFDbkIsY0FBYztJQUNkLGFBQWE7SUFDYixvQkFBb0I7SUFDcEIsc0JBQXNCO0lBQ3RCLGNBQWM7SUFDZCxPQUFPO0lBQ1AsWUFBWSxFQUNiO0VBckJIO0lBdUJJLFlBQVk7SUFDWixtQkFBbUI7SUFDbkIsWUFBWTtJQUNaLGFBQWE7SUFDYixrQkFBa0I7SUFDbEIsc0JBQXNCO0lBQ3RCLFVBQVU7SUFDVixVQUFVLEVBQ1g7O0FBR0g7RUFDRSxpQ0FBZ0I7RUFDaEIsbUJBQW1CO0VBQ25CLFVBQVU7RUFDVixPQUFPO0VBQ1AsYUFBYTtFQUNiLFdBQVcsRUFDWjs7QUFXRDtFQUNFLFlBQVk7RUFDWixhQUFhO0VBQ2IsZUFBZTtFQUNmLG1CQUFtQixFQW9CcEI7RUF4QkQ7SUFPSSxtQkFBbUI7SUFDbkIsWUFBWTtJQUNaLGFBQWE7SUFDYixPQUFPO0lBQ1AsUUFBUTtJQUNSLCtFQUE4RTtJQUM5RSx5QkFBeUIsRUFDMUI7RUFkSDtJQWdCSSxtQkFBbUI7SUFDbkIsWUFBWTtJQUNaLGFBQWE7SUFDYixPQUFPO0lBQ1AsUUFBUTtJQUNSLDhFQUE2RTtJQUM3RSx5QkFBeUIsRUFDMUIiLCJmaWxlIjoibWFpbi5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIuYXVkaW8tcGxheWVyX2NvbnQge1xuICB3aWR0aDogMTAwJTtcbn1cblxuLmF1ZGlvX19jb250YWluZXIge1xuICB3aWR0aDogMTAwJTtcbn1cblxuLmF1ZGlvX19wbGF5LWJ0biB7XG4gIHdpZHRoOiAzMHB4O1xuICBoZWlnaHQ6IDMwcHg7XG4gIGRpc3BsYXk6IGJsb2NrO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG59XG5cblxuXG4uYXVkaW8tZ2x5cGhpY29uIHtcbiAgd2lkdGg6IDMwcHg7XG4gIGhlaWdodDogMzBweDtcbiAgZGlzcGxheTogYmxvY2s7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTt9XG4uZ2x5cGhpY29uLS1wbGF5IHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiAxMDAlO1xuICB0b3A6IDA7XG4gIGxlZnQ6IDA7XG4gIGJhY2tncm91bmQ6IHVybChcIi4uL2ltZy9wbGF5ZXJfYXVkaW8vcGxheS1idXR0b24uc3ZnXCIpIGNlbnRlciBjZW50ZXIgbm8tcmVwZWF0O1xuICBiYWNrZ3JvdW5kLXNpemU6IGNvbnRhaW47XG59XG4uZ2x5cGhpY29uLS1wYXVzZSB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgd2lkdGg6IDEwMCU7XG4gIGhlaWdodDogMTAwJTtcbiAgdG9wOiAwO1xuICBsZWZ0OiAwO1xuICBiYWNrZ3JvdW5kOiB1cmwoXCIuLi9pbWcvcGxheWVyX2F1ZGlvL3BhdXNlLXNpZ24uc3ZnXCIpIGNlbnRlciBjZW50ZXIgbm8tcmVwZWF0O1xuICBiYWNrZ3JvdW5kLXNpemU6IGNvbnRhaW47XG59XG5cblxuLmF1ZGlvX19uZXh0LWJ0biB7XG4gIHdpZHRoOiAyMHB4O1xuICBoZWlnaHQ6IDIwcHg7XG4gIGJhY2tncm91bmQ6IHVybChcIi4uL2ltZy9wbGF5ZXJfYXVkaW8vZmFzdC1mb3J3YXJkLWJ1dHRvbi5zdmdcIikgY2VudGVyIGNlbnRlciBuby1yZXBlYXQ7XG4gIGJhY2tncm91bmQtc2l6ZTogY29udGFpbjtcbn1cblxuLmF1ZGlvX19wcmV2LWJ0biB7XG4gIHdpZHRoOiAyMHB4O1xuICBoZWlnaHQ6IDIwcHg7XG4gIGJhY2tncm91bmQ6IHVybChcIi4uL2ltZy9wbGF5ZXJfYXVkaW8vZmFzdC1mb3J3YXJkLWJ1dHRvbi5zdmdcIikgY2VudGVyIGNlbnRlciBuby1yZXBlYXQ7XG4gIGJhY2tncm91bmQtc2l6ZTogY29udGFpbjtcbiAgdHJhbnNmb3JtOiByb3RhdGUoMTgwZGVnKTtcbn1cblxuLmF1ZGlvLXRpbWVsaW5lX19jb250IHtcbiAgd2lkdGg6IDEwMCU7XG4gIG1heC13aWR0aDogNDAwcHg7XG4gIG92ZXJmbG93OiBoaWRkZW47XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgaGVpZ2h0OiAxMDBweDtcbn1cblxuLmF1ZGlvLXRpbWVsaW5lIHtcbiAgd2lkdGg6IDEwMCU7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgdG9wOiA1MCU7XG59XG5cbi8vLmF1ZGlvX190aW1lbGluZS1jb250cm9sIHtcbi8vICB3aWR0aDogMTVweDtcbi8vICBoZWlnaHQ6IDE1cHg7XG4vLyAgZGlzcGxheTogYmxvY2s7XG4vLyAgcG9zaXRpb246IGFic29sdXRlO1xuLy8gIGJhY2tncm91bmQ6ICNmZjc0MzA7XG4vLyAgdG9wOiA1MCU7XG4vLyAgdHJhbnNmb3JtOiB0cmFuc2xhdGUoLTUwJSwgLTUwJSk7XG4vLyAgYm9yZGVyLXJhZGl1czogNTAlO1xuLy8gIG91dGxpbmU6IG5vbmU7XG4vLyAgJjpiZWZvcmUge1xuLy8gICAgY29udGVudDogXCJcIjtcbi8vICAgIGJhY2tncm91bmQ6ICMzMzMzMzM7XG4vLyAgICB3aWR0aDogNjAwcHg7XG4vLyAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4vLyAgICByaWdodDogOTUlO1xuLy8gICAgdG9wOiA1MCU7XG4vLyAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZVkoLTUwJSk7XG4vLyAgICBoZWlnaHQ6IDVweDtcbi8vICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbi8vICB9XG4vLyAgJjphZnRlciB7XG4vLyAgICBjb250ZW50OiBcIlwiO1xuLy8gICAgYmFja2dyb3VuZDogcmdiYSgzOSwgMjU1LCAxNjMsIDAuNzgpO1xuLy8gICAgd2lkdGg6IDYwMHB4O1xuLy8gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuLy8gICAgbGVmdDogOTUlO1xuLy8gICAgdG9wOiA1MCU7XG4vLyAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZVkoLTUwJSk7XG4vLyAgICBoZWlnaHQ6IDVweDtcbi8vICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbi8vICB9XG4vL31cblxuXG5cblxuXG5cbi5hdWRpb19fdGltZWxpbmUtY29udHJvbCB7XG4gIHdpZHRoOiAxMDAlO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIGRpc3BsYXk6IGJsb2NrO1xuICBoZWlnaHQ6IDEwcHg7XG4gIGJhY2tncm91bmQ6IHJnYmEoMjU1LCAwLCAwLCAwLjIxKTtcbn1cblxuLnVpLXNsaWRlci1oYW5kbGUge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHotaW5kZXg6IDI7XG4gIC8vd2lkdGg6IDI2cHg7IC8vY2FuY2VsXG4gIC8vaGVpZ2h0OiAyNnB4OyAvL2NhbmNlbFxuICBjdXJzb3I6IHBvaW50ZXI7XG4gIGJhY2tncm91bmQ6IHBpbms7XG4gIG91dGxpbmU6IG5vbmU7XG4gIHdpZHRoOiAwcHg7XG4gIHotaW5kZXg6IDA7XG4gIC8vdG9wOiAtOHB4OyAvL2NhbmNlbFxuICAmOmJlZm9yZSB7IC8vYWRkXG4gICAgY29udGVudDogJyc7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHdpZHRoOiAxMDAwcHg7XG4gICAgaGVpZ2h0OiAxMHB4O1xuICAgIGJhY2tncm91bmQ6ICM4YjYyMzY7XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgIGxlZnQ6IC0xMDAwcHg7XG4gICAgdG9wOiAwO1xuICAgIHotaW5kZXg6IC0xO1xuICB9XG4gICY6YWZ0ZXIgeyAvL2FkZFxuICAgIGNvbnRlbnQ6ICcnO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB3aWR0aDogMjBweDtcbiAgICBoZWlnaHQ6IDIwcHg7XG4gICAgYmFja2dyb3VuZDogZ3JlZW47XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgIGxlZnQ6IDBweDtcbiAgICB0b3A6IC01cHg7XG4gIH1cbiAgLy9tYXJnaW4tbGVmdDogLTEycHg7XG59XG4udWktc2xpZGVyLXJhbmdlIHtcbiAgYmFja2dyb3VuZDogcmdiYSgwLCAwLCAyNTUsIDAuMik7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgYm9yZGVyOiAwO1xuICB0b3A6IDA7XG4gIGhlaWdodDogMTAwJTtcbiAgei1pbmRleDogMjtcbn1cblxuXG5cblxuXG5cblxuXG5cblxuLmF1ZGlvLXRyYWNrX19idG4tY29udCB7XG4gIHdpZHRoOiAyMHB4O1xuICBoZWlnaHQ6IDIwcHg7XG4gIGRpc3BsYXk6IGJsb2NrO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIC8vYmFja2dyb3VuZDogZ3JlZW47XG4gIC5hdWRpby10cmFja19fYnRuLS1wbGF5IHtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIHRvcDogMDtcbiAgICBsZWZ0OiAwO1xuICAgIGJhY2tncm91bmQ6IHVybChcIi4uL2ltZy9wbGF5ZXJfYXVkaW8vcGxheS1idXR0b24uc3ZnXCIpIGNlbnRlciBjZW50ZXIgbm8tcmVwZWF0O1xuICAgIGJhY2tncm91bmQtc2l6ZTogY29udGFpbjtcbiAgfVxuICAuYXVkaW8tdHJhY2tfX2J0bi0tcGF1c2Uge1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBoZWlnaHQ6IDEwMCU7XG4gICAgdG9wOiAwO1xuICAgIGxlZnQ6IDA7XG4gICAgYmFja2dyb3VuZDogdXJsKFwiLi4vaW1nL3BsYXllcl9hdWRpby9wYXVzZS1zaWduLnN2Z1wiKSBjZW50ZXIgY2VudGVyIG5vLXJlcGVhdDtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IGNvbnRhaW47XG4gIH1cbn1cblxuXG5cbi8vLy8vLy8vLy8vLy8vL0VYIFBMQVlFUi8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vXG5cbi8vLmNvbnRhaW5lci1wbGF5ZXIge1xuLy8gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbi8vICB0b3A6IDIwMHB4O1xuLy8gIHdpZHRoOiAxMDAlO1xuLy8gIG1heC13aWR0aDogNjAwcHg7XG4vL31cblxuLy8uYXVkaW8tdGltZWxpbmVfX3dyYXBwZXIge1xuLy8gIHdpZHRoOiA0MDBweDtcbi8vICBvdmVyZmxvdzogaGlkZGVuO1xuLy99XG4vL1xuLy8uYXVkaW9fX3RpbWVsaW5lIHtcbi8vICB3aWR0aDogMTAwJTtcbi8vICBsZWZ0OiA4cHg7XG4vLyAgaGVpZ2h0OiA1MHB4O1xuLy8gIGJhY2tncm91bmQ6IHRyYW5zcGFyZW50O1xuLy8gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbi8vICBwYWRkaW5nOiAwIDE2cHggMCAwO1xuLy99XG5cbi8vLmF1ZGlvX190aW1lbGluZS1jb250cm9sIHtcbi8vICB3aWR0aDogMTVweDtcbi8vICBoZWlnaHQ6IDE1cHg7XG4vLyAgZGlzcGxheTogYmxvY2s7XG4vLyAgcG9zaXRpb246IGFic29sdXRlO1xuLy8gIGJhY2tncm91bmQ6ICNmZjc0MzA7XG4vLyAgdG9wOiA1MCU7XG4vLyAgdHJhbnNmb3JtOiB0cmFuc2xhdGUoLTUwJSwgLTUwJSk7XG4vLyAgYm9yZGVyLXJhZGl1czogNTAlO1xuLy8gICY6YmVmb3JlIHtcbi8vICAgIGNvbnRlbnQ6IFwiXCI7XG4vLyAgICBiYWNrZ3JvdW5kOiAjMzMzMzMzO1xuLy8gICAgd2lkdGg6IDYwMDBweDtcbi8vICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbi8vICAgIHJpZ2h0OiA5NSU7XG4vLyAgICB0b3A6IDUwJTtcbi8vICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWSgtNTAlKTtcbi8vICAgIGhlaWdodDogNXB4O1xuLy8gICAgcG9zaXRpb246IGFic29sdXRlO1xuLy8gIH1cbi8vICAmOmFmdGVyIHtcbi8vICAgIGNvbnRlbnQ6IFwiXCI7XG4vLyAgICBiYWNrZ3JvdW5kOiByZ2JhKDM5LCAyNTUsIDE2MywgMC43OCk7XG4vLyAgICB3aWR0aDogNjAwMHB4O1xuLy8gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuLy8gICAgbGVmdDogOTUlO1xuLy8gICAgdG9wOiA1MCU7XG4vLyAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZVkoLTUwJSk7XG4vLyAgICBoZWlnaHQ6IDVweDtcbi8vICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbi8vICB9XG4vL31cblxuXG5cblxuXG4vLy5nbHlwaGljb24tLXBsYXkge1xuLy8gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbi8vICB3aWR0aDogMTAwJTtcbi8vICBoZWlnaHQ6IDEwMCU7XG4vLyAgdG9wOiAwO1xuLy8gIGxlZnQ6IDA7XG4vLyAgYmFja2dyb3VuZDogdXJsKFwiLi4vaW1nL3BsYXllcl9hdWRpby9wbGF5LWJ1dHRvbi5zdmdcIikgY2VudGVyIGNlbnRlciBuby1yZXBlYXQ7XG4vLyAgYmFja2dyb3VuZC1zaXplOiBjb250YWluO1xuLy99XG4vLy5nbHlwaGljb24tLXBhdXNlIHtcbi8vICBwb3NpdGlvbjogYWJzb2x1dGU7XG4vLyAgd2lkdGg6IDEwMCU7XG4vLyAgaGVpZ2h0OiAxMDAlO1xuLy8gIHRvcDogMDtcbi8vICBsZWZ0OiAwO1xuLy8gIGJhY2tncm91bmQ6IHVybChcIi4uL2ltZy9wbGF5ZXJfYXVkaW8vcGF1c2Utc2lnbi5zdmdcIikgY2VudGVyIGNlbnRlciBuby1yZXBlYXQ7XG4vLyAgYmFja2dyb3VuZC1zaXplOiBjb250YWluO1xuLy99XG5cblxuXG5cbi8vLnRyYWNrLWxpc3RfX2NvbnQge1xuLy8gIHdpZHRoOiA0MDBweDtcbi8vfVxuLy9cbi8vLnRyYWNrX19jb250IHtcbi8vICB3aWR0aDogMTAwJTtcbi8vICBkaXNwbGF5OiBmbGV4O1xuLy99XG5cbi8vLnRyYWNrLWxpc3RfX2J0bi1jb250IHtcbi8vICB3aWR0aDogMjBweDtcbi8vICBoZWlnaHQ6IDIwcHg7XG4vLyAgZGlzcGxheTogYmxvY2s7XG4vLyAgcG9zaXRpb246IHJlbGF0aXZlO1xuLy8gIC8vYmFja2dyb3VuZDogZ3JlZW47XG4vLyAgLmJ0bi0tcGxheSB7XG4vLyAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4vLyAgICB3aWR0aDogMTAwJTtcbi8vICAgIGhlaWdodDogMTAwJTtcbi8vICAgIHRvcDogMDtcbi8vICAgIGxlZnQ6IDA7XG4vLyAgICBiYWNrZ3JvdW5kOiB1cmwoXCIuLi9pbWcvcGxheWVyX2F1ZGlvL3BsYXktYnV0dG9uLnN2Z1wiKSBjZW50ZXIgY2VudGVyIG5vLXJlcGVhdDtcbi8vICAgIGJhY2tncm91bmQtc2l6ZTogY29udGFpbjtcbi8vICB9XG4vLyAgLmJ0bi0tcGF1c2Uge1xuLy8gICAgcG9zaXRpb246IGFic29sdXRlO1xuLy8gICAgd2lkdGg6IDEwMCU7XG4vLyAgICBoZWlnaHQ6IDEwMCU7XG4vLyAgICB0b3A6IDA7XG4vLyAgICBsZWZ0OiAwO1xuLy8gICAgYmFja2dyb3VuZDogdXJsKFwiLi4vaW1nL3BsYXllcl9hdWRpby9wYXVzZS1zaWduLnN2Z1wiKSBjZW50ZXIgY2VudGVyIG5vLXJlcGVhdDtcbi8vICAgIGJhY2tncm91bmQtc2l6ZTogY29udGFpbjtcbi8vICB9XG4vL31cblxuXG4vL1xuLy9cbi8vLmF1ZGlvX25leHQtYnRuIHtcbi8vICB3aWR0aDogMjBweDtcbi8vICBoZWlnaHQ6IDIwcHg7XG4vLyAgYmFja2dyb3VuZDogdXJsKFwiLi4vaW1nL3BsYXllcl9hdWRpby9mYXN0LWZvcndhcmQtYnV0dG9uLnN2Z1wiKSBjZW50ZXIgY2VudGVyIG5vLXJlcGVhdDtcbi8vICBiYWNrZ3JvdW5kLXNpemU6IGNvbnRhaW47XG4vL31cbi8vXG4vLy5hdWRpb19wcmV2LWJ0biB7XG4vLyAgd2lkdGg6IDIwcHg7XG4vLyAgaGVpZ2h0OiAyMHB4O1xuLy8gIGJhY2tncm91bmQ6IHVybChcIi4uL2ltZy9wbGF5ZXJfYXVkaW8vZmFzdC1mb3J3YXJkLWJ1dHRvbi5zdmdcIikgY2VudGVyIGNlbnRlciBuby1yZXBlYXQ7XG4vLyAgYmFja2dyb3VuZC1zaXplOiBjb250YWluO1xuLy8gIHRyYW5zZm9ybTogcm90YXRlKDE4MGRlZyk7XG4vL31cblxuXG5cbi8vXG4vL0BtZWRpYSAobWF4LXdpZHRoOiA5NjBweCkge1xuLy8gIC5tYWluLXBsYXllciB7XG4vLyAgICBoZWlnaHQ6IDEwMCU7XG4vLyAgfVxuLy99Il19 */
