.audio-player_cont {
  width: 100%;
}

.audio__container {
  width: 100%;
}

.audio__play-btn {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
}



.audio-glyphicon {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;}
.glyphicon--play {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/player_audio/play-button.svg") center center no-repeat;
  background-size: contain;
}
.glyphicon--pause {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/player_audio/pause-sign.svg") center center no-repeat;
  background-size: contain;
}


.audio__next-btn {
  width: 20px;
  height: 20px;
  background: url("../img/player_audio/fast-forward-button.svg") center center no-repeat;
  background-size: contain;
}

.audio__prev-btn {
  width: 20px;
  height: 20px;
  background: url("../img/player_audio/fast-forward-button.svg") center center no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

.audio-timeline__cont {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  height: 100px;
}

.audio-timeline {
  width: 100%;
  position: relative;
  top: 50%;
}

//.audio__timeline-control {
//  width: 15px;
//  height: 15px;
//  display: block;
//  position: absolute;
//  background: #ff7430;
//  top: 50%;
//  transform: translate(-50%, -50%);
//  border-radius: 50%;
//  outline: none;
//  &:before {
//    content: "";
//    background: #333333;
//    width: 600px;
//    display: inline-block;
//    right: 95%;
//    top: 50%;
//    transform: translateY(-50%);
//    height: 5px;
//    position: absolute;
//  }
//  &:after {
//    content: "";
//    background: rgba(39, 255, 163, 0.78);
//    width: 600px;
//    display: inline-block;
//    left: 95%;
//    top: 50%;
//    transform: translateY(-50%);
//    height: 5px;
//    position: absolute;
//  }
//}






.audio__timeline-control {
  width: 100%;
  position: relative;
  display: block;
  height: 10px;
  background: rgba(255, 0, 0, 0.21);
}

.ui-slider-handle {
  position: absolute;
  z-index: 2;
  //width: 26px; //cancel
  //height: 26px; //cancel
  cursor: pointer;
  background: pink;
  outline: none;
  width: 0px;
  z-index: 0;
  //top: -8px; //cancel
  &:before { //add
    content: '';
    position: absolute;
    width: 1000px;
    height: 10px;
    background: #8b6236;
    display: inline-block;
    left: -1000px;
    top: 0;
    z-index: -1;
  }
  &:after { //add
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: green;
    display: inline-block;
    left: 0px;
    top: -5px;
  }
  //margin-left: -12px;
}
.ui-slider-range {
  background: rgba(0, 0, 255, 0.2);
  position: absolute;
  border: 0;
  top: 0;
  height: 100%;
  z-index: 2;
}










.audio-track__btn-cont {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  //background: green;
  .audio-track__btn--play {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/player_audio/play-button.svg") center center no-repeat;
    background-size: contain;
  }
  .audio-track__btn--pause {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/player_audio/pause-sign.svg") center center no-repeat;
    background-size: contain;
  }
}



///////////////EX PLAYER///////////////////////

//.container-player {
//  position: relative;
//  top: 200px;
//  width: 100%;
//  max-width: 600px;
//}

//.audio-timeline__wrapper {
//  width: 400px;
//  overflow: hidden;
//}
//
//.audio__timeline {
//  width: 100%;
//  left: 8px;
//  height: 50px;
//  background: transparent;
//  position: relative;
//  padding: 0 16px 0 0;
//}

//.audio__timeline-control {
//  width: 15px;
//  height: 15px;
//  display: block;
//  position: absolute;
//  background: #ff7430;
//  top: 50%;
//  transform: translate(-50%, -50%);
//  border-radius: 50%;
//  &:before {
//    content: "";
//    background: #333333;
//    width: 6000px;
//    display: inline-block;
//    right: 95%;
//    top: 50%;
//    transform: translateY(-50%);
//    height: 5px;
//    position: absolute;
//  }
//  &:after {
//    content: "";
//    background: rgba(39, 255, 163, 0.78);
//    width: 6000px;
//    display: inline-block;
//    left: 95%;
//    top: 50%;
//    transform: translateY(-50%);
//    height: 5px;
//    position: absolute;
//  }
//}





//.glyphicon--play {
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  top: 0;
//  left: 0;
//  background: url("../img/player_audio/play-button.svg") center center no-repeat;
//  background-size: contain;
//}
//.glyphicon--pause {
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  top: 0;
//  left: 0;
//  background: url("../img/player_audio/pause-sign.svg") center center no-repeat;
//  background-size: contain;
//}




//.track-list__cont {
//  width: 400px;
//}
//
//.track__cont {
//  width: 100%;
//  display: flex;
//}

//.track-list__btn-cont {
//  width: 20px;
//  height: 20px;
//  display: block;
//  position: relative;
//  //background: green;
//  .btn--play {
//    position: absolute;
//    width: 100%;
//    height: 100%;
//    top: 0;
//    left: 0;
//    background: url("../img/player_audio/play-button.svg") center center no-repeat;
//    background-size: contain;
//  }
//  .btn--pause {
//    position: absolute;
//    width: 100%;
//    height: 100%;
//    top: 0;
//    left: 0;
//    background: url("../img/player_audio/pause-sign.svg") center center no-repeat;
//    background-size: contain;
//  }
//}


//
//
//.audio_next-btn {
//  width: 20px;
//  height: 20px;
//  background: url("../img/player_audio/fast-forward-button.svg") center center no-repeat;
//  background-size: contain;
//}
//
//.audio_prev-btn {
//  width: 20px;
//  height: 20px;
//  background: url("../img/player_audio/fast-forward-button.svg") center center no-repeat;
//  background-size: contain;
//  transform: rotate(180deg);
//}



//
//@media (max-width: 960px) {
//  .main-player {
//    height: 100%;
//  }
//}